## Project01

In [84]:
from collections import Counter
import re
import pandas as pd

### 1. texts processing

In [ ]:
def word_counter(txtList: list[str]) -> dict[str, int]:
    """
    Counts word frequencies across multiple texts.
    Each text is cleaned (letters only, lowercase),
    and all word counts are accumulated together.
    Returns a dictionary {word: count}.
    """
    total_counts = Counter()

    for text in txtList:
        # clean the text
        text = re.sub(r'[^a-zA-Z\s]', ' ', text)  
        text = re.sub(r'\s+', ' ', text)         
        text = text.strip().lower()               
        # split into words
        words = text.split()                   

        # update total word frequencies
        total_counts.update(words)

    return dict(total_counts)

In [ ]:
# loading raw texts

with open("raw/book1.txt", "r", encoding="utf-8") as f:
    raw_book1 = f.read()

with open("raw/book2.txt", "r", encoding="utf-8") as f:
    raw_book2 = f.read()

with open("raw/book3.txt", "r", encoding="utf-8") as f:
    raw_book3 = f.read()

In [74]:
words = word_counter([raw_book1, raw_book2, raw_book3])
sorted_words = sorted(words.items(), key=lambda x: x[1], reverse=True)

In [ ]:
# printing number of words and 20 most common words

word_number = sum(freq for word, freq in sorted_words)
print("number of words:", word_number)
print()

for key, value in sorted_words[:20]:
    print(key, value)

number of words: 165496

the 13923
of 6633
a 4977
and 4599
to 4234
in 3192
is 2501
it 1690
that 1562
be 1509
with 1316
as 1277
on 1193
at 1098
or 1072
by 1055
for 1004
which 987
are 865
from 845

### 2. showing 100 most common words with their zipf score

In [85]:
def build_zipf_df(sorted_words: list[tuple[str, int]]) -> pd.DataFrame:
    """
    Build a Zipf DataFrame,
    Columns: word, counts, rank, zipf_score (counts * rank).
    """
    # Create rows with rank starting at 1
    rows = []
    for rank, (word, count) in enumerate(sorted_words, start=1):
        zipf_score = count * rank 
        rows.append((word, count, rank, zipf_score))

    df = pd.DataFrame(rows, columns=["word", "counts", "rank", "zipf_score"])
    return df

In [86]:
df = build_zipf_df(sorted_words)

In [91]:
pd.set_option('display.max_rows', 100)
df.head(100)

            word  counts  rank  zipf_score
0            the   13923     1       13923
1             of    6633     2       13266
2              a    4977     3       14931
3            and    4599     4       18396
4             to    4234     5       21170
5             in    3192     6       19152
6             is    2501     7       17507
7             it    1690     8       13520
8           that    1562     9       14058
9             be    1509    10       15090
10          with    1316    11       14476
11            as    1277    12       15324
12            on    1193    13       15509
13            at    1098    14       15372
14            or    1072    15       16080
15            by    1055    16       16880
16           for    1004    17       17068
17         which     987    18       17766
18           are     865    19       16435
19          from     845    20       16900
20            he     834    21       17514
21           one     807    22       17754
22           his     758    23       17434
23           was     746    24       17904
24          this     738    25       18450
25            an     704    26       18304
26           her     695    27       18765
27           you     633    28       17724
28           had     592    29       17168
29           not     575    30       17250
30             s     553    31       17143
31            if     549    32       17568
32           but     542    33       17886
33          have     541    34       18394
34           fig     504    35       17640
35           she     488    36       17568
36          when     480    37       17760
37            so     474    38       18012
38         other     452    39       17628
39          will     447    40       17880
40           its     441    41       18081
41           may     440    42       18480
42           has     435    43       18705
43             i     433    44       19052
44           all     426    45       19170
45            we     420    46       19320
46         would     402    47       18894
47          into     398    48       19104
48         water     397    49       19453
49          they     389    50       19450
50           out     379    51       19329
51       through     358    52       18616
52           any     354    53       18762
53           two     354    54       19116
54        should     345    55       18975
55            up     341    56       19096
56          more     328    57       18696
57          must     325    58       18850
58          been     319    59       18821
59  illustration     309    60       18540
60         there     307    61       18727
61           air     300    62       18600
62         their     296    63       18648
63     gutenberg     291    64       18624
64           who     282    65       18330
65          very     282    66       18612
66          some     278    67       18626
67       project     274    68       18632
68           can     273    69       18837
69           end     268    70       18760
70          than     267    71       18957
71           now     256    72       18432
72            no     249    73       18177
73          them     246    74       18204
74          were     242    75       18150
75           him     239    76       18164
76         about     234    77       18018
77          each     234    78       18252
78          said     234    79       18486
79         steam     234    80       18720
80          work     224    81       18144
81          over     214    82       17548
82             b     208    83       17264
83          time     198    84       16632
84         comus     195    85       16575
85        little     194    86       16684
86             c     194    87       16878
87          only     190    88       16720
88         being     190    89       16910
89         these     187    90       16830
90          such     183    91       16653
91          then     181    92       16652
92          used     180    93       16740
93      pressure     180    94       16920
94          most     177    95       16815
95          made     174    96       16704
96         first     173    97       16781
97          same     173    98       16954
98          good     171    99       16929
99          down     169   100       16900

### 3. showing how many number of words you should know to be able to read specific percent of text

In [103]:
def words_needed_for_coverage(percent, sorted_words):
    if percent < 0 or percent > 1:
        raise ValueError("x should be between 0 and 1!")
    total_needed = sum(freq for word, freq in sorted_words) * percent
    count = 0
    i = 0
    while count < total_needed:
        count += sorted_words[i][1]
        i += 1

    return i

In [119]:
print(f"Number of different words in texts: {len(sorted_words)}")
print()
print("Number of words you should know to be able to read specific percent of text:")
print(f"10%: {words_needed_for_coverage(0.1,sorted_words)}")
print(f"20%: {words_needed_for_coverage(0.2,sorted_words)}")
print(f"30%: {words_needed_for_coverage(0.3,sorted_words)}")
print(f"40%: {words_needed_for_coverage(0.4,sorted_words)}")
print(f"50%: {words_needed_for_coverage(0.5,sorted_words)}")
print(f"60%: {words_needed_for_coverage(0.6,sorted_words)}")
print(f"70%: {words_needed_for_coverage(0.7,sorted_words)}")
print(f"80%: {words_needed_for_coverage(0.8,sorted_words)}")
print(f"90%: {words_needed_for_coverage(0.9,sorted_words)}")

Number of different words in texts: 12029

Number of words you should know to be able to read specific percent of text:
10%: 2
20%: 5
30%: 14
40%: 37
50%: 92
60%: 236
70%: 556
80%: 1282
90%: 3113

### 4. showing adjacent pairs of words

In [ ]:
def tokenize_texts(texts: list[str]) -> list[str]:
    """
    Tokenizes a list of text documents into a single flat list of tokens.
    
    Steps:
      1. Clean each text (letters only, lowercase)
      2. Split into individual words
      3. Combine all tokens into one list

    Args:
        texts (List[str]): List of raw text strings.

    Returns:
        List[str]: List of all tokens from all texts.
    """
    all_tokens = []

    for text in texts:
        # Keep only letters and spaces
        text = re.sub(r'[^a-zA-Z\s]', ' ', text)
        # Replace multiple spaces with one
        text = re.sub(r'\s+', ' ', text).strip().lower()
        # Split into tokens (words)
        tokens = text.split()
        # Add to global list
        all_tokens.extend(tokens)

    return all_tokens

In [125]:
tokens = tokenize_texts([raw_book1, raw_book2, raw_book3])

In [ ]:
def get_adjacent_pairs(tokens: list[str]) -> list[tuple[str, str]]:
    """
    Returns all adjacent word pairs from a list of tokens.
    
    """
    pairs = [(tokens[i], tokens[i + 1]) for i in range(len(tokens) - 1)]
    return pairs

In [134]:
pairs = get_adjacent_pairs(tokens)
pair_counts = Counter(get_adjacent_pairs(tokens))
for key, value in pair_counts.most_common(20):
    print(key, value)

('of', 'the') 1969
('in', 'the') 902
('to', 'the') 756
('of', 'a') 532
('and', 'the') 479
('on', 'the') 468
('at', 'the') 362
('with', 'the') 335
('from', 'the') 328
('in', 'a') 326
('by', 'the') 323
('to', 'be') 283
('it', 'is') 269
('project', 'gutenberg') 264
('that', 'the') 234
('illustration', 'fig') 232
('with', 'a') 214
('for', 'the') 204
('the', 'other') 197
('may', 'be') 197